[submodule "docs"]
    path = docs
    url = https://github.com/x4trade-org/x4trade-core.wiki.git
    ignore = dirty
[submodule "libraries/fc"]
    path = libraries/fc
    url = https://github.com/bitshares/bitshares-fc.git
    ignore = dirty
